*{
    box-sizing: border-box;
}

.demo1{
    background: linear-gradient(to bottom right,green,white 150%);
    /*height: 700px;
    width:1515px;*/
    display: grid;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 10%;
    padding-right: 10%;
}

.demo2{
    background: linear-gradient(to bottom right,orange,white 150%);
    height: 100%;
    width: 100%;
    box-shadow: 0 0 20px #000;
}

.headdiv{
    font-size: 2vw; 
    font-family: 'Courier New'; 
    text-align: center;
    text-shadow: 2px 2px blue;
    color: green;
}

.imgdiv{
    margin-left: 10%;  
    width: 80%;
    height: 10%;
}

.instructionsdiv{
    width: 80%; 
    margin-left:10%;
    float: left;
    margin-top: 10%;
    font-size: 1vw; 
    font-family: 'Courier New';
}

.buttonsdiv{
    width: 80%; 
    margin-left:10%;
    margin-right:10%;
    margin-bottom:2%;
    float: left;
    margin-top: 2%;
    font-family: 'Courier New';
}

.button {
    margin-top: 5%;
    margin-bottom: 5%;
    background: linear-gradient(to bottom right,blue,white 150%);
    color: black;
    padding: 3% 9%;
    cursor: pointer;
    font-size: 1vw; 
    border-radius: 20%;
    margin-left: 5%;
    margin-right: 5%;
  }

