<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/demo1.css">
	<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon"></script>
	<title>Verification</title>
</head>
<body>
	<h1>Verify</h1>
	<h2>
		{{ results }}<hr>
		{{ face_distances }}<hr>
		{{ status }}
	</h2>
	<ul style="margin: 0; padding: 0; overflow:hidden; background-color:black; list-style-type: none;">
		<li>
			<div class="contentarea" style = "float: left; width: 50%; border: solid 2px yellow">
		        <div class = "demo1">
		            <div class = "demo2">
		                <p class = "headdiv"> <b>LICENCE PIC</b></p>
		                PIC HERE
		            </div>
		        </div>
		    </div>
		</li>
		<li>
		    <div class="contentarea" style = "float: left; width: 50%; border: solid 2px yellow">
		        <div class = "demo1">
		            <div class = "demo2">
		                <p class = "headdiv"> <b>USER PIC</b></p>
		                PIC HERE
		            </div>
		        </div>
		    </div>
		</li>
	</ul>
</body>
</html>